@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");
@import "tailwindcss";

@theme {
  /*Colores*/
  --color-mainColor: #ffacc6;
  --color-secondaryColor: #ffc0d4;
  --color-lessColor: #78dcca;
  --color-vanishColor: #ffeaf1;
  --color-textAndBg: #fbfbf9;
  /*Fuentes*/
  --font-Main: "Euphoria Script", cursive;
}
